<%=render "header"%>
<div class="table">
<h1>Listing All Cats</h1>
<table>
<tr>
<th>Id </th>
<th>Name </th>
<th>Color </th>
<th>Action1</th>
<th>Action2</th>
<th>Action3</th>

</tr>


<% @cats.each do |cat| %>
<tr>
<td> <%= cat.id    %></td>
<td> <%= cat.name  %></td>
<td> <%= cat.color %></td>
<td><%=link_to "show",cat_path(cat)%></td>
<td><%=link_to "edit",edit_cat_path(cat)%></td>

<td><%=link_to "delete",cat_path(cat)%></td>


<%link_to "toys" %>

</td>

</tr>
<% end %>
</table>
<%=link_to "Add New Cats",:action => :new%>
</div>
<%=render "footer"%>





