<%=render "header"%>
<div class="table">
<h1>Listing All Cats</h1>
<table>
<tr>
<th>Id </th>
<th>Name </th>
<th>Color </th>

</tr>


<% @cats.each do |cat| %>
<tr>
<td> <%= cat.id    %></td>
<td> <%= cat.name  %></td>
<td> <%= cat.color %></td>

<td> 
<%link_to "toys" %>

</td>

</tr>
<% end %>
</table>
</div>
<%=render "footer"%>





