<table>
 <tr>
    <th>Name</th>
    <th>Color</th>
    <th>BirthDate</th>
       <th>Sex</th>
        <th>Description</th>
  </tr>
  </tr>
 <tr>
    <td> <%=@cat.name %> </td>
     <td><%=@cat.color%> </td>
      <td> <%=@cat.sex%> </td>
       <td> <%=@cat.birth_date%> </td>
        <td> <%=@cat.description%> </td>
   
  </tr>


</table>